@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins' , sans-serif;
}
header {
	height: 100px;
	background-color: #02010A;
	padding: 0 50px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo {
	text-transform: uppercase;
	color: #00fff2;
	font-weight: 600;
}

.menu a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
	transition: 0.4s;
}

.mostrar-menu{
	order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover,
.submenu-productos a:hover{
	color: #00fff2;
}

#check{
	display: none;
}

.emprendedores{
	margin: 3%;
	text-align: justify;
}

.botonEmprendedor{
    font-family: 'Poppins', sans-serif;
    background-color: #00fff2;
    padding-left: 2%;
    padding-right: 2%;
    border-style: none;
}
button {
    font-size: 1em;
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.botonEmprendedor:hover {
    background-color:#00e1d5;
}

.botonEmprendedor:active {
    background-color:#02d0c6;
    transform: translateY(4px);
}