@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins' , sans-serif;
}
header {
	
	height: 100px;
	background-color: #02010A;
	padding: 0 50px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo {
	text-transform: uppercase;
	color: #00fff2;
	font-weight: 200;
}

.menu a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
	transition: 0.4s;
}

.mostrar-menu{
	order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover,
.submenu-productos a:hover{
	color: #00fff2;
}

#check{
	display: none;
}

.emprendedores{
	margin: 3%;
	text-align: justify;
	font-family: 'Poppins' , sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-color: 00fff2;
    border-width: 5px;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: 00fff2;
    color: #02010A;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

